/* ------------------------------------------------------------------------------------------------------
                                          THE PORTION JUST BELOW THE NAVBAR
    ------------------------------------------------------------------------------------------------------- */
#body_container{
    width: 100%;
    margin: auto;
}

#heading{
    display: flex;
    max-height: 800px; /*edited*/
    /* border: 1px solid red; */
}

#heading>div{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: left;
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
}

#heading>div:nth-child(1){
    padding: 0 3%;
}
.page_name{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    margin: 0px 10px;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 12px;
}
#tagline{
    font-family: 'Times New Roman', ui-serif;
    display: block;
    font-weight: 100;
    margin: 10px 10px;
    font-size: 68px;
    text-decoration: none solid rgb(44,51,63);
    line-height: 76px;
}

#colored_tagline{
    color: #267E6B;
}

#des{
    margin: 20px 10px;
    font-size: 18px;
    line-height: 32.004px;
}

#get_started{
    margin: 35px 10px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;
    height: 52px;
    width: 140px;
    border-radius: 26px;
    cursor: pointer;
    border: solid 1px #267E6B;
    color: #fff;
    background-color: #267E6B;
    padding: 18px 28px;
}
#get_started:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

.break_space{
    height: 100px;
    width: 100;
    background-color: #fff;
    /* z-index: 1; */
}

/* ------------------------------------------------------------------------------------------------------
                                          GET HELP WITHOUT THE HASSLE
    ------------------------------------------------------------------------------------------------------- */
#comparison_chart_box{
    /* display: block; */
    background-color: #FFD85D;
    padding: 0px 150px 80px 150px;
}
.title{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    padding: 50px 0 23px 0;
    /* border: 1px solid red; */
}
#comparison_chart{
    background-color: #FFF3CE;
    padding: 15px 15px;
    /* border: 1px solid blue; */
}
.comparison_chart_row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.comparison_chart_topic{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
}
.comparison_chart_image{
    width:200px;
    height: 54px;
    margin-right: 10px;
    color: #267E6B;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comparison_chart_image_other{
    width: 200px;
    height: 54px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0345a;
}


/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:1020px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:1020px){
        #heading{
            display: flex;
            flex-wrap: wrap;    
            margin-top: 9vw;
        }
        .page_name{
            margin-top: 20px;
            line-height: 20px;
        }
        #heading>div{
            width: 100%; 
            background-color: rgba(255,216,93);   
        }
        #heading_text{
            height: auto;
        }
        #tagline{
            font-size: 2.2rem;
            text-decoration: none solid rgb(44,51,63);
            line-height: 50px;
        }
        #des{
            font-size: 1rem;
            margin-top: 2px;
        }
        #heading_image_div{
            height: 630px;
            display: flex;
            align-items: center;
        }
        #heading_image_div>img{
            width: 70vw;
            height: 100%;
            min-height: 100%;
        }

        /* GET HELP WITHOUT THE HASSLE */
        #comparison_chart_box{
            padding: 0px 30px 80px 30px;
            border: 1px solid red;
        }
    }

/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:990px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:990px){
        #heading_image_div{
            height: 550px;
        }
    }

/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:645px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:645px){
        #get_started_button{
            text-align: center;
        }
        #get_started{
            width: 90vw;
        }
        #heading_image_div{
            height: 500px;
        }
    }

/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:555px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:555px){
        #heading_image_div{
            height: 400px;
        }
        .title{
            font-size: 33px;
        }
    }

/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:455px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:455px){
        #heading_image_div{
            height: 350px;
        }
        #heading_image_div>img{
            width: 85vw;
        }
    }

/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:360px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:360px){
        #heading_image_div>img{
            width: 90vw;
        }
        #comparison_brightline{
            /* border: 1px solid red; */
            font-size: 14px;
        }
        #comparison_others{
            /* border: 1px solid red; */
            font-size: 14px;
        }
        .comparison_chart_image{
            margin-right: 0px;
            /* border: 1px solid red; */
        }
        .comparison_chart_image_other{
            margin-left: 0px;
        }
    }

    /* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:330px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:330px){
        #heading_image_div{
            height: 280px;
        }
        .comparison_chart_topic{
            font-size: 13px;
        }
        .comparison_chart_image{
            margin-right: -10px;
            font-size: 12px;
        }
        .comparison_chart_image_other{
            font-size: 12px;
        }
        #comparison_chart_box{
            padding: 0px 17px 80px 17px;
        }
        /* #comparison_chart{
            background-color: #FFF3CE;
            padding: 15px 5px 15px 15px;
            width: 95%;
            border: 1px solid red;
        } */
        /* #comparison_chart_box{
            display: flex;
            justify-content: center;
        } */
    }
/* ------------------------------------------------------------------------------------------------------
                                    MEDIA QUERIES - max-width:310px 
    ------------------------------------------------------------------------------------------------------- */
    @media all and (max-width:310px){
        #heading_image_div{
            height: 280px;
        }
    }