/* ------------------------------------------------------------------------------------------------------
                    Hiding horizontal scroll bar & avoding extra spaces at the sides    
    ------------------------------------------------------------------------------------------------------- */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }

/* ------------------------------------------------------------------------------------------------------
                                          THE PORTION JUST BELOW THE NAVBAR
    ------------------------------------------------------------------------------------------------------- */
#header_post_navbar{
    min-width: 100vw;
    display: flex;
    width: 100vw;
}

#header_banner img{
    min-width: 50vw;
    width: 50vw;
    height: 870px;
}

#header_texts{
    padding-left: 5vw;
    padding-top: 200px;
    max-width: 50vw;
    width: 50vw;
}

#span{
    color: rgba(38,126,107);
}

#header_texts div:nth-child(1){
    font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-size: 3.3rem;
    line-height: 1.2;
    width: 78%;
    color: rgb(85, 76, 76);
    margin-bottom: 25px;
}

#header_texts div:nth-child(2){
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2;
    width: 79%;
    margin-bottom: 55px;
}

#jointodayBtn{
    font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgba(38,126,107);
    height: 50px;
    width: 150px;
    border-radius: 150px 150px 150px 150px;
    border: none;
}

#jointodayBtn:hover{
    background-color: rgb(27, 90, 75);
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------
                                  Virtual care that work for both kids and families
    ------------------------------------------------------------------------------------------------------- */
    #VirtualCareBody{
        max-width: 100%;
        display: flex;
        width: 100vw;
    }
    #VirtualCareBody>div:nth-child(1){
        width: 49vw;
    }
    #VirtualCareBody>div:nth-child(2){
        margin-top: 150px;
        margin-left: 95px;
        width: 40vw;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 1.1em;
        line-height: 1.8em;
    }
    
    #VirtualCareBody>div:nth-child(1)>img{
        width: 100%;
    }
    
    #VirtualCareBody .fa-solid{
        color: rgba(38,126,107);
        margin-right: 7px;
    }
    
    #VirtualCareBtn:hover{
        background-color: rgb(27, 90, 75);
        cursor: pointer;
    }
    #VirtualCareBtn{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: rgba(38,126,107);
        height: 50px;
        width: 150px;
        border-radius: 150px 150px 150px 150px;
        border: none;
        margin-top: 11vh;
    }
    
    #VirtualCareHeadLine{
        max-width: 100%;
        width: 100vw;
        display: grid;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #VirtualCareHeadLine>p:nth-child(1){
        font-weight: 550;
        font-size: 2.7em;
        margin-bottom: 2px;
        color: rgb(53, 50, 50);
    
    }
    #VirtualCareHeadLine>p:nth-child(2){
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 1.1em;
        line-height: 1.8em;
        color: rgb(27, 27, 27);
    }

    /* ------------------------------------------------------------------------------------------------------
                                          Built for kids and teens, here for you
    ------------------------------------------------------------------------------------------------------- */
    #expDiv{
        margin-top: 70px;
    }
    
    #expHeading{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    
    #expHeading h3{
        font-size:3em;
        color: rgb(27, 27, 27);
        margin-top: 0px;
    }
    
    #expHeading h5{
        font-weight: 600;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    
    }
    #expVid{
        display: flex;
        justify-content: center;
        background-color: rgba(222,235,233);
    }
    
    iframe{
        width: 90vw;
        height: 800px;
    }

    /* ------------------------------------------------------------------------------------------------------
                                          Supporting your employees starts with their families
    ------------------------------------------------------------------------------------------------------- */
    #forBusinessBody{
        display: flex;
        max-width: 100vw;
    }
    
    #forBusinessBody>div:nth-child(1){
        width: 80%;
        text-align: left;
        margin-left: 8%;
        margin-top: 20px;
        margin-bottom: 28px;
    }
    
    #forBusinessBodyImg{
        width: 100%;
        height: 100%;
    }
    
    #forBusinessHead{
        margin-top: 100px;
        display: grid;
        justify-content: center;
        text-align: center;
    }
    
    #forBusinessHead>h5{
        font-weight: 600;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    }
    
    #forBusinessHead>h3{
        font-size:3em;
        color: rgb(27, 27, 27);
        margin-top: 0px;
    }
    
    #forBusinessHead>p{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size:1.3em;
        margin-top: -20px;
        margin-bottom: 70px;
    }
    
    .percentageDivs{
        width: 69%;
    }
    
    .percentageDivs h1{
        font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
        font-weight: 600;
        font-size: 2rem;
        color: #267E6B;
    }
    
    .percentageDivs p{
        color: #2C333F;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-weight: 300;
        line-height: 1.4286;
        font-size: 14px;
    }
    
    #businessBtn{
        margin-top: 28px;
        margin-bottom: 26px;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: rgba(38,126,107);
        background-color: white;
        height: 50px;
        width: 150px;
        border-radius: 150px 150px 150px 150px;
        border: 1px solid rgba(38,126,107);
    }
    
    #businessBtn:hover{
        background-color: rgba(38,126,107);
        color: white;
        cursor: pointer;
    }
    
    #forBusinessLeftBottom{
        line-height: 0.6;
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        color: #2C333F;
        font-size: 0.8em;
    }

    /* ------------------------------------------------------------------------------------------------------
                                          The right care, at the ready
    ------------------------------------------------------------------------------------------------------- */
    #rightCareHeading{
        text-align: center;
        margin-top: 130px;
    }
    
    #rightCareHeading>h3{
        font-size:3em;
        color: rgb(27, 27, 27);
        margin-top: 0px;
    }
    
    #rightCareHeading>p{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size:1.3em;
        margin-top: -20px;
        margin-bottom: 70px;
    }
    
    #rightCareBody{
        display: flex;
        max-width: 100vw;
    }
    
    #rightCareBody>div:nth-child(1){
        width: 55vw;
    }
    
    #rightCareBody>div:nth-child(1) img{
        width: 100%;
        height: 100%;
    }
    
    #rightCareBody>div:nth-child(2){
        text-align: left;
        padding-left: 7vw;
        padding-right: 5vw;
        padding-bottom: 3vw;
        width: 41vw;
    }
    
    #rightCareBody>div:nth-child(2) h2{
        font-size: 3em;
        color: #267E6B;
        margin-bottom: 0;
    }
    
    #rightCareBody>div:nth-child(2) p{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.7;
    }
    
    #rightCareBtn{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: rgba(38,126,107);
        height: 50px;
        width: 170px;
        border-radius: 150px 150px 150px 150px;
        border: none;
        margin-top: 7vh;
    }
    
    #rightCareBtn:hover{
        background-color: rgb(27, 90, 75);
        cursor: pointer;
    }

    /* ------------------------------------------------------------------------------------------------------
                                          Good news
    ------------------------------------------------------------------------------------------------------- */
    #goodNewsHeading{
        text-align: center;
        font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
        font-size: 2.7em;
        color: #2C333F;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    
    .newsCard{
        background-color: rgba(255,216,93);
    }
    .newsCardEven{
        background-color: rgb(243, 220, 145);
    }
    .newsCard, .newsCardEven{
        /* position: relative; */
        display: flex;
        flex-direction: column;
        min-width: 300px;
        width: 250px;
        height: 370px;
        text-align: center;
        margin-right: 30px;
    }
    .readMoreDiv{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1.5vw;
    }
    .newsCard>div:nth-child(1), .newsCardEven>div:nth-child(1){
        font-size: 0.8em;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 4px;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .logoDiv{
        display: flex;
        width: 70%;
        margin-left: 14.5%;
        margin-bottom: 25px;
    }
    .newsLogo{
        width: 100%;
    }
    .newsCard>div:nth-child(1)>i, .newsCardEven>div:nth-child(1)>i{
        font-size: 5px;
    }
    .newsCard>div:nth-child(3), .newsCardEven>div:nth-child(3){
        width: 82%;
        font-size: 1.5em;
        margin-left: 8.5%;
        margin-bottom: 60px;
        color: rgb(27, 27, 27);
        font-weight: lighter;
    }
    .newsCard-container {
        padding: 0 4vw;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    
    .newsCard-container::-webkit-scrollbar {
        display: none;
    }
    .pre-btn, .nxt-btn{
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: white;
        border: 2px solid rgba(38,126,107);
    }
    
    .pre-btn:hover{
        cursor: pointer;
        /* background-color: rgba(38,126,107); */
        transform: scale(1.2);
        transition: all ease 0.2s;
    }
    .nxt-btn:hover{
        cursor: pointer;
        /* background-color: rgba(38,126,107); */
        transform: scale(1.2);
        transition: all ease 0.2s;
    }
    #sliderBtnDiv{
        display: flex;
        gap:2%;
        margin-left: 47vw;
        margin-top: 25px;
    }
    #sliderBtnDiv i{
        font-size: medium;
        color: rgba(38,126,107);
    }

    /* ------------------------------------------------------------------------------------------------------
                                          Get started with Brightline today
    ------------------------------------------------------------------------------------------------------- */
    #getStartedHeading{
        text-align: center;
        font-family: Gabriela,ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
        font-size: 2.7em;
        color: #2C333F;
        margin-top: 100px;
        /* margin-bottom: 40px; */
    }
    #getStartedDiv{
        margin-left: 9.3vw;
        min-width: 80vw;
        width: 80vw;
    }
    #getStartedDiv1{
        min-width: 100%;
        width: 100%;
        display: flex;
        margin-bottom: 0.8vw;
        background-color: #FFF3CE;
    }
    #getStartedDiv1>div:nth-child(1){
        min-width: 40%;
        width: 40%;
    }
    #getStartedDiv1>div:nth-child(1) img{
        min-width: 100%;
        width: 100%;
        height: 100%;
    }
    #getStartedDiv1>div:nth-child(2){
        margin-left: 6%;
        margin-top: 4.5%;
        margin-right: 6vw;
    }
    #getStartedDiv1 h2{
        color: #2C333F;
    }
    #getStartedDiv1 p{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-weight: 300;
        color: #2C333F;
        line-height: 1.5;
    }
    #getStartedDiv1 button{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: rgba(38,126,107);
        border: 1px solid rgba(38,126,107);
        background: none;
        height: 50px;
        width: 110px;
        border-radius: 150px 150px 150px 150px;
    }
    #getStartedDiv1 button:hover{
        cursor: pointer;
        background-color: rgba(38,126,107);
        color: white;
    }
    #getStartedDiv2{
        min-width: 100%;
        width: 100%;
        display: flex;
        background-color: #FFF3CE;
    }
    #getStartedDiv2>div:nth-child(1){
        min-width: 40%;
        width: 40%;
    }
    #getStartedDiv2>div:nth-child(1) img{
        min-width: 100%;
        width: 100%;
        height: 100%;
    }
    #getStartedDiv2>div:nth-child(2){
        margin-left: 6%;
        margin-top: 4.5%;
        margin-right: 6vw;
    }
    #getStartedDiv2 h2{
        color: #2C333F;
    }
    #getStartedDiv2 p{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-weight: 300;
        color: #2C333F;
        line-height: 1.5;
    }
    #getStartedDiv2 button{
        font-family: ApercuPro,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: rgba(38,126,107);
        border: 1px solid rgba(38,126,107);
        background: none;
        height: 50px;
        width: 170px;
        border-radius: 150px 150px 150px 150px;
    }
    #getStartedDiv2 button:hover{
        cursor: pointer;
        background-color: rgba(38,126,107);
        color: white;
    }

    
